<h1>Editing pto request</h1>

<%= render "form", pto_request: @pto_request %>

<br>

<div>
  <%= link_to "Show this pto request", @pto_request %> |
  <%= link_to "Back to pto requests", pto_requests_path %>
</div>
