<h1>Editing diet profile</h1>

<%= render "form", diet_profile: @diet_profile %>

<br>

<div>
  <%= link_to "Show this diet profile", @diet_profile %> |
  <%= link_to "Back to diet profiles", diet_profiles_path %>
</div>
